<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    
    <div id="app">
        <h1> {{title}} </h1>
        <input v-model="text" type="text">
        <p> {{toLower}} </p>
        <p> {{upperText}} </p>
        <button @click="getUpperText">Click!</button>

        <br><br><br>

        <button @click="showContent = !showContent">Content's button</button>
        <div v-if="showContent">
            <p>Content</p>
        </div>
        <div>
            <ul>
                <li v-for="(user, index) in users">
                    <p>
                        {{index+1}}: {{user.name}}
                    </p>
                    <span>E-mail: {{user.email}}</span> <br>
                    <span>Age: {{user.age}}</span>
                </li>
            </ul>
        </div>
    </div>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                title: 'Hey there',
                text: '',
                upperText: '',
                showContent: false,
                users: [
                    {name: 'max', email: 'max@mail.ru', age: 23},
                    {name: 'dasha', email: 'dasha@mail.ru', age: 21},
                    {name: 'oleg', email: 'oleg@mail.ru', age: 29},
                ]
            },
            computed: {
                toLower() {
                    return this.text.toLowerCase();
                }
            },
            methods: {
                getUpperText() {
                    this.upperText = this.text.toUpperCase();
                }
            }
        })
    </script>

</body>
</html>